//Main colors
$color-1: #333333;
$color-2: #4C5251;
$color-3: #ffffff;
$color-4: #961F50;
$color-5: #D02E71;
$color-6: #1F6256;
$color-7: #00BE8E;

//Warning colors
$color-sucess: #28a745;
$color-info: #007bff;
$color-warning: #ffc107;
$color-error: #dc3545;